.signup_col1{
    background-image: linear-gradient(to right, #FFFFFF , #6CF5F8);
    text-align: center;
    padding: 50px;

}
.bubble1{
    height: 60px;
    width: 60px;
    background-image: linear-gradient(to right, #81FBFF , #00B3D8);
    border-radius: 50px;
}
.bubble2{
    height: 30px;
    width: 30px;
    background-image: linear-gradient(to right, #81FBFF , #00B3D8);
    border-radius: 50px;
    position: relative;
    top: 20%;
    left: 80%;
}
.bubble3{
    height: 80px;
    width: 80px;
    background-image: linear-gradient(to right, #81FBFF , #00B3D8);
    border-radius: 50px;
    position: relative;
    top: 10%;
    left: 50%;
}

.signup_cap{
    text-align: center;
}
.signup_fields input{
    width: 80%;
    padding: 5px 20px;
    border-radius: 20px;
    
}
.signup_fields{
    margin: 0 auto;
    text-align: center;
}
.signup_fields span{
    position: relative;
    right: 30px;
    
}
.signup_fields span a{
    color: grey;
}
.sign_up{
    text-align: center;
}
.bottom_bor{
    width: 5%;
    margin: 0 auto;
    height: 1.5px;
    background-color: #35D7E4;
   margin-top: 0px;
}

