.blogs_container h1{
    color: #60D3FF;
}
.blog_img img{
    width: 400px;
}
.mid_border{
    height: 30px;
    /* margin-left: 10px; */
    width: 1px;
    background-color: gray;
    border: 1px solid gary;
}
.blog_react{
    display: flex;
    
}
.blog_react img{
    height: 30px;
}
.gray_border{
    height: 1px;
    width: 100%;
    background-color: #707070;
    
}
.blogs_btn{
    text-align: center;

}
.blogs_btn .blue_btn{
    background-image: linear-gradient(to right, #73CBFE , #7ADFFF);
    margin-top: 0px;
    padding: 3px 15px;
}