.slider_main {
  background-color: #6be9fe;
  border-radius: 50px 50px 0px 0px;
}
.slider1_div {
  /* text-align: center; */
  color: white;
}
.slider1_div h1 {
  font-size: 70px;
}
.slider1_div h3 {
  text-align: center;
  font-size: 50px;
}
.slider1_img img {
  /* width: 100%; */
}
.input_field {
  /* width: 65%; */
  /* margin: 0 auto; */
  /* color: blueviolet; */
  /* background-color: blue; */
  position: relative;
}
.input_field input[type="text"] {
  /* width: 100%; */
  border-radius: 50px;
  border: 3px solid white;
  /* padding: 5px 15px; */
  background-color: #73d6fb;
}
.slider1_content {
  margin-top: 100px !important;
}
.slider1_content span {
  position: relative;
  left: 450px;
  bottom: 73px;
  color: white !important;
  font-size: 25px;
  font-weight: bold;
}
.search a {
  color: white;
  font-size: 400;
}

/*who we are */
.we_div {
  position: relative;
  background-color: #f7f7f7;
}
.we_img {
  /* background-color: brown; */
  text-align: center;
}
.we_img img {
  border-radius: 30px;
}
.we_content h1 {
  color: #94e5ff;
}
.we_content p {
  word-wrap: break-word;
}
.down_border {
  border: 2px solid #94e5ff;
  background-color: #94e5ff;
  /* width: 10%; */
}
.btn_info button {
  padding: 10px 50px;
  border-radius: 50px;
  background-color: white !important;
  font-weight: bold;
}
.btn_info button:hover {
  background-color: #94e5ff !important;
  color: white;
}

/* Popular cources part*/
.man_popular_div {
  background-color: #e4f8ff;
}
.man_popular_div h1 {
  color: #013161;
}
.popular_cources {
  text-align: center;
  background-color: #e4f8ff;
  height: 400px;
}
.popular_cources img {
  height: 300px;
  width: 300px;
  border-radius: 20px;
}
.down_border2 {
  border: 2px solid #013161;
  background-color: #013161;
  width: 10%;
}

.down_border3 {
  text-align: center;
  border: 4px solid #1eadff;
  background-color: #1eadff;
  width: 30%;
  border-radius: 10px;
  margin: 0 auto;
}

/*Category part*/
.category_div {
  background-color: #dff1ff;
}
.category_head {
  color: #94e5ff;
}
.category {
  text-align: center;
}
.category img {
  border-radius: 15px;
}
.cat_img {
  margin: 0 auto;
  transition: 2s;
}
.cat_img:hover {
  opacity: 1;
  transform: scale(1.2);
}

/* instructor section */
.instructor_main_div img {
  height: 200px;
  width: 200px;
  border-radius: 100px;
  text-align: center;
}
.instructor_main_div .card {
  text-align: center !important;
}

.instructor_main_div {
  text-align: center;
  margin-top: 120px;
}
.card_body {
  background-color: #d8fcff;
  border-radius: 80px 10px 80px 10px;
  border: none;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  margin-top: 70px;
}

.ins_img {
  position: relative;
  bottom: 75px;
}
.ins_btn_cls button {
  margin: 0 auto;
}
.inst_h1 h1 {
  margin-top: 100px;
  color: #013161;
}

/*Review image*/

.review_container {
  background-image: linear-gradient(#ffffff, #dffbff, #82d9ff, #5accff);
}

.review_main {
  display: flex;
  justify-content: center;
  align-items: center;
}
.review_div {
  text-align: center;
}
.card_review {
  margin: 0 auto;
}
.review_div img {
  height: 200px;
  width: 200px;
  border-radius: 100px;
}
.review_img {
  position: relative;
  bottom: 75px;
}
.btn_info Button {
  margin-left: 0px;
  margin-top: 30px;
}

/*Media query*/

@media screen and (max-width: 600px) {
  .slider1_content {
    margin-top: 0px !important;
    text-align: center;
  }
  .slider1_div h1 {
    font-size: 45px;
    margin-bottom: 25px;
  }
  .slider1_div h3 {
    font-size: 30px;
  }
  .input_field {
    margin: 0 auto;
    position: absolute;
  }
  .slider1_content span {
    /* position: relative; */
    left: 135px;
    bottom: 8px;
    color: white !important;
    font-size: 20px;
  }
}
@media screen and (max-width: 600px) {
  .we_img {
    margin-top: 0px !important;
    margin-bottom: 10px;
  }
  .we_content {
    padding: 10px !important;
  }
  .we_content .btn_info Button {
    margin: 0 auto;
  }
  .btn_info {
    text-align: center;
  }
  .btn_info Button {
    margin-top: 30px !important;
    margin-bottom: 30px !important;
  }
}
/* Popular cources*/
@media screen and (max-width: 600px) {
  .popular_cources {
    text-align: center;
  }
  .popular_cources img {
    /* height: 50px;
        width: 50px;
        border-radius: 20px; */
  }
}

/* Instructor Detailes */
@media screen and (max-width: 600px) {
  .ins_card {
    margin-top: 100px;
  }
  .ins_card:nth-child(1) {
    margin-top: 60px;
  }
  .instructor_main_div {
    padding: 20px;
    margin-top: 20px;
  }
}
