.slider_main{
    background-color: #6BE9FE;
}
.slider1_div{
    /* text-align: center; */
    color: white;
}
.slider1_div h1{
    font-size: 70px;
}
.slider1_div h3{
    text-align: center;
    font-size: 50px;
}
.slider1_img img{
    /* width: 100%; */

}
.input_field{
    /* width: 65%; */
    /* margin: 0 auto; */
    /* color: blueviolet; */
    /* background-color: blue; */
    position: relative;
    
}
.input_field input[type=text]{
    /* width: 100%; */
    border-radius: 50px;
    border: 3px solid white;
    /* padding: 5px 15px; */
    background-color: #73D6FB;
    
}
.slider1_content{
    margin-top: 100px !important;
    
}
.slider1_content span{
    position: relative;
    left: 400px;
    bottom: 73px;
    color: white !important;
    font-size: 25px;
    font-weight: bold;
    
}
.search  a{
color: white;
font-size: 400;
}






/*Media query*/

@media screen and (max-width : 600px){
    .slider1_content{
        margin-top: 0px !important;
        text-align: center;
        
    }
    .slider1_div h1{
        font-size: 45px;
        margin-bottom: 25px;
    }
    .slider1_div h3{
       
        font-size: 30px;
    }
    .input_field{
        margin: 0 auto;
        position: absolute;
        
    }
    .slider1_content span{
        /* position: relative; */
        left: 100px;
        bottom: 8px;
        color: white !important;
        font-size: 20px;
        
       
        
    }
}