.slider_main{
    background-color: #6BE9FE;
    border-radius: 50px 50px 0px 0px;
}
.slider1_div{
    /* text-align: center; */
    color: white;
}
.slider1_div h1{
    font-size: 70px;
}
.slider1_div h3{
    text-align: center;
    font-size: 50px;
}
.slider1_img img{
    /* width: 100%; */

}
.input_field{
    /* width: 65%; */
    /* margin: 0 auto; */
    /* color: blueviolet; */
    /* background-color: blue; */
    position: relative;
    
}
.input_field input[type=text]{
    /* width: 100%; */
    border-radius: 50px;
    border: 3px solid white;
    /* padding: 5px 15px; */
    background-color: #73D6FB;
    
}
.slider1_content{
    margin-top: 100px !important;
    
}
.slider1_content span{
    position: relative;
    left: 400px;
    bottom: 73px;
    color: white !important;
    font-size: 25px;
    font-weight: bold;
    
}
.search  a{
color: white;
font-size: 400;
}

/*who we are */
.we_div{
    position: relative;
    background-color: #F7F7F7;
}
.we_img{
    /* background-color: brown; */
    text-align: center;
}
.we_img img{
    border-radius: 30px;

}
.we_content h1{
    color: #94E5FF ;
}
.down_border{
    border: 2px solid #94E5FF;
    background-color: #94E5FF;
    width: 10%;
}
.btn_info button{
    padding: 10px 50px;
    border-radius: 50px;
    background-color: white !important;
    font-weight: bold;

}
.btn_info button:hover{
    background-color: #94E5FF !important;
    color: white;
}

/* Popular cources part*/
.man_popular_div{
    background-color: #E4F8FF;
}
.man_popular_div h1{
    color: #013161;
}
.popular_cources{
    text-align: center;
    background-color: #E4F8FF;
    height: 400px;
}
.popular_cources img{
    height: 300px;
    width: 300px;
    border-radius: 20px;
 
}
.down_border2{
    border: 2px solid #013161;
    background-color: #013161;
    width: 10%;
}

.down_border3{
    text-align: center;
    border: 4px solid #1EADFF;
    background-color: #1EADFF;
    width: 30%;
    border-radius: 10px;
    margin: 0 auto;
}

/*Category part*/
.category_div{
    background-color: #DFF1FF;
 
}
.category_head{
    
    color: #94E5FF;
}
.category img{
    border-radius: 15px;

    
}







/*Media query*/

@media screen and (max-width : 600px){
    .slider1_content{
        margin-top: 0px !important;
        text-align: center;
        
    }
    .slider1_div h1{
        font-size: 45px;
        margin-bottom: 25px;
    }
    .slider1_div h3{
       
        font-size: 30px;
    }
    .input_field{
        margin: 0 auto;
        position: absolute;
        
    }
    .slider1_content span{
        /* position: relative; */
        left: 100px;
        bottom: 8px;
        color: white !important;
        font-size: 20px;
        
       
        
    }
}
@media screen and (max-width : 600px){
    .we_img{
        margin-top: 0px !important;
        margin-bottom: 10px;
    }
    .we_content{
        padding: 10px !important;
    }
    .btn_info{
        text-align: center;
    } 

}
/* Popular cources*/
@media screen and (max-width : 600px){
    .popular_cources{
        text-align: center;
    }
    .popular_cources img{
      
        /* height: 50px;
        width: 50px;
        border-radius: 20px; */
     
    }
    

}