.gallery h1{
    color: white;
}
.gallery{
    background-image: linear-gradient(to bottom right,#78C4FF, #A7E3FF,#70B6DE,#CEEBFF);
}
.gallery .down_border{
    color: white;
    background-color: white;
    border: 1px solid white;
}
.aws h2{
    text-align: center;
    color: white;

}
.python h2{
    text-align: center;
    color: white

}
.system h2{
    text-align: center;
    color: white

}
.zoom{
    transition: 0.90s;
}
.zoom:hover{
    opacity: 1;
	transform: scale(1.2);

}
.gallery_img img{
    width: 100%;
    height: 350px;
    background-color: blueviolet !important;
    
}
.gallery_img img{
    text-align: center;
}




@media screen and (max-width : 600px){
    .python{
        /* margin-top: 50px; */
       
    }
   
}